.body{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-content: center;

}




.loginBox{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    width: 60%;
    border-radius: 10px;
 
}
.loginBox > input{
    width: 70%;
    align-self: center;
    margin-top: 10px;
}

.loginBox > button{
    width: 30%;
    align-self: center;
    margin-top: 10px;
}

.loginBox--text{
    display:flex;
    align-items: center;
    align-self: center;
}


