
.loginPage{
    background-image: url("../../assets/fullBg.jpg");
    background-position: -200px -400px;
    width: 100vw;
    height: 100vh;
}


.loginBox{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content:center;

    background-color: #243F52;
    width: 50%;
    max-width: 500px;
    height: 600px;

    
    font-family: 'Lobster', cursive;
    color: white;
 
}
.loginBox > input{
    width: 70%;
    height: 40px;
/* 
    border: 1px black solid; */

    font-size: large;

}




.button{
    max-width: 90px;
    /* height: 60px; */
    background-color: #F79334;
    border-radius: 15px;
    border: 10px solid rgba(0, 0, 0, 0);
    color: white;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 3px rgba(2, 2, 2, 0.384);
}


.button:focus{
        box-shadow: none;
        transform: translateY(2px);
        transition: 0.1s;
    
}


.loginBoxText{
    display:flex;

    align-items: center;
    font-size: 1.4rem;
    
}

.link{
    margin-left: 10px;
    color: white;
}

.link:visited {
    color: white;
}

.link:hover {
    color: #F79334;
}
.link:active {
    color: #F79334;
  }