.page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow-x: hidden;
}

.navBarBg{
    width: 300%;
    height: 100px;
    align-self: center;
    justify-self: center;
    background-color: #162635;
    
    position: sticky;
    top: 0px;
    left: -10px;
    margin-left: -50%;
    z-index: 9; 
}

.empty{
    height: 200px;
}

.image{
    height: 80vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    top: -800px;
    left: -600px;
    scale: 120%;
    z-index: 8;
}

.travel{
    position: relative;
    top: 200px;
    width: 45%;
}

@media only screen and (max-width: 1800px) {
   .travel{
    width: 65%;
   }
}

@media only screen and (max-width: 1000px) {
   .travel{
    width: 90%;
   }
}


.start{
    display: flex;
    gap: 40px;
    align-items: center;
}
.start > h1{
    color: white
}

.end{
    margin-top: -10px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.end > h1{
    color: white
}


.icon{
    background-color: white;
    border-radius: 100%;
    width: 60px;
    height: 60px;
}
