
.form{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-items: center;
    gap:20px;

    background-color: #395144;
    padding: 100px;

    border-radius: 10px;
}

