.page{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    perspective: 10px;
}

body{
    margin: 0;
    background-color: #162635; 
}


.content{
    background-color: #162635;
    display: flex;
    align-self: center;
    height: 100%;
    width: 100%; 
    position: relative;
    margin:  auto 0;
    flex-direction: column;


}
header{
    position: relative;;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    z-index: -1;
    }

.im1{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translateZ(-10px) scale(2);
    }
.im2{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translateZ(-5px) scale(1.5);
}  

.im3{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1.01);
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.text{
    font-size: 4rem;
    font-weight: 300;
    color:#162635;
    text-align: center;
    font-family: 'Lobster', cursive;

    position: absolute;
    top: 130px;
}

.travels{
    width: 80%;
    position: relative;
    top: 150px;
    gap: 50px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    justify-content: space-evenly; 
    justify-items: center;
    align-items: center;;

}

.travel{
    background-color: #243D51;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 400px;
    height: 300px;
    flex-grow: 0;
    cursor: pointer;
    min-height: 250px;
    font-family: 'Lobster', cursive;
    box-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
    color: white;

    justify-content: center;
}


.navBarBg{
    width: 100vw;
    height: 100px;
    background-color: #162635;
    position: sticky;
    top: -1px;
    z-index: 9;
}

.travel:hover{
    transform: scale(1.01);
    transition: transform 0.1s;
}

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


.travel > img{
   max-height: 70%;
   max-width: 100%;
   width: auto;
    height: auto;

}

.add{
    background-color: #243D51;
    width: 400px;
    height: 300px;
    flex-grow: 0;
    cursor: pointer;
    padding: 20px;
    color:white;
    font-family: 'Lobster', cursive;

    font-size: 3rem;
    font-weight: bold;
    line-height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
}

.add:hover{
    transform: scale(1.01);
    transition: transform 0.1s;
}