.page{
    height: 100vh;
}

body{
    margin: 0;
    background-color: #F0EBCE; 
}


.content{
   display: flex;
   flex-direction: column;
   align-self: center;
   height: 100%;
   /* width: 100%; */
   position: relative;
   margin:  auto 0;

   margin-left: 20%;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.text{
    font-size: 2.5rem;
    font-weight: 300;
    color: #4E6C50;
    text-align: center;
    
    font-family: 'Lobster', cursive;
}

.travels{
    background-color: #395144;
    width: 80%;
    position: relative;

    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    justify-content: center;
    align-items: center;

}

.travel{
    background-color: #4E6C50;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #F0EBCE;
    margin: 25px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 400px;
    min-height: 200px;
    cursor: pointer;
    min-height: 250px;
    font-family: 'Lobster', cursive;
    box-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
}

.travel:hover{
    transform: scale(1.01);
    transition: transform 0.1s;
}

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.down{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    font-family: 'Lora', serif;
    font-size: 20px;
}

.travel > p{
    justify-self: center;
    align-self: center;
    
}


.down > img{
   max-height: 100%;
   max-width: 40%;
   width: auto;
    height: auto;

    border-radius: 10px;
}

.add{
    background-color: #4E6C50;
    display: flex;
    border-radius: 10px;
    border: 1px solid #F0EBCE;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 430px;
    cursor: pointer;

    color:#F0EAD2;
    font-family: 'Lobster', cursive;

    font-size: 50px;
    font-weight: bold;
    line-height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 25px;
    min-height: 250px;
    box-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
}

/* @media screen and (max-width: 960px) {
    .add{
        min-width: auto;
    }
  } */
.add:hover{
    transform: scale(1.01);
    transition: transform 0.1s;
}