.overlay {

    height: 100%;
    width: 100%;
    
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.336);
  }
  
.overlayInner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#243D51;

    width: 40%;
    height: 50%;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

@media only screen and (max-width: 1000px) {
  .overlayInner {
    width: 80%;
  }
}



.buttons{
  justify-self: center;
  align-self: center;
  display: flex;
  gap: 30px;
}



.subimitBtn{
    box-shadow: 0 3px rgba(2, 2, 2, 0.384);
    margin-top: 10px;
    width: 100px;
    height: 50px;
    align-self: center;
    font-family: 'Lobster', cursive;
    text-align: center;
    max-width: 90px;
    height: 50px;
    background-color: #F79334;
    border-radius: 15px;
    border: 10px solid rgba(0, 0, 0, 0);
    color: white;
    font-size: 120%;
    cursor: pointer;
}


  .subimitBtn:active{
    box-shadow: none;
    transform: translateY(2px);
    transition: 0.2s;
  } 

  .text{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    font-family: 'Lobster', cursive;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  .description{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    resize: none;
    font-family: "Verdana";
  }

  .destination{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    resize: none;
    font-family: "Verdana";
  }

  .textCover{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: 'Lobster', cursive;

    display: flex;
    flex-direction: column;
  }

  .chooseFile{
    display: block;
  color: white;
  font-family: 'Lobster', cursive;
}

.chooseFile::-webkit-file-upload-button{
    font-weight: bold;
    color: black;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
}