.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.568);
  }
  
  .overlayInner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: #395144;

    width: 60%;
    height: 60%;
    border-radius: 10px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .subimitBtn{
    width: 100px;
    height: 50px;
    background-color: #6C584C;
    border: none;
    border-radius: 5px;
    color: #F0EAD2;
    font-size: 120%;
    cursor: pointer;

    align-self: center;
  }